@tailwind base;
@tailwind components;
@tailwind utilities;



#apptop,#appbottom{
    height: 120px;
}

/* 美化滚动条 */
::-webkit-scrollbar {
    width: 8px; /* 宽度 */
}

::-webkit-scrollbar-track {
    background: #2d3748; /* 滚动条背景颜色 */
}

::-webkit-scrollbar-thumb {
    background: #4a5568; /* 滚动条滑块颜色 */
}







